/* For hiding and showing the menu */
@media (min-width: 721px) {
  #bottom-menu {
    display: none;
  }
}

/* General CSS */

#bottom-menu {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #2462AB;
  color: #FFFFFF;
  border-top: 1px solid #BCBCBC;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 2% 15px;
  z-index: 999;
}

#bottom-menu div {
  display: inline;
}

#bottom-menu ul {
  list-style: none;
  color: #FFFFFF;
  margin: 0px;
  padding: 0px;
  display: inline;
}

#bottom-menu-list {
  margin-right: auto;
  margin-left: auto;
}

#bottom-menu ul li {
  display: inline;
}

#bottom-menu ul div {
  display: inline;
}

#bottom-menu ul a {
  color: #FFFFFF!important;
}

#bottom-menu ul li a{
  display: inline;
  color: #FFFFFF!important;
}

#bottom-menu ul li a:visited {
  display: inline;
  color: #FFFFFF!important;
}

#bottom-menu .glyphicon {
  margin: 0px 5px;
  font-size: 25px;
}
