/* Stying for the group management options */
.group-management-options input {
  margin-left: 0px;
  margin-right: 10px;
}

/* For styling the new groups input box */
#create-group-inputs {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
  border: 1px solid #BCBCBC;
  background-color: #F5F5F5;
}

#new-group-form {
  width: 150px;
  padding: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #BCBCBC;
  color: DimGrey;
  display: none;
}

#submit-create-group {
  display: none;
}

#duplicate-group-warning {
  margin-top: 10px;
  margin-bottom: 5px;
}

/* Styling for mailchimp API key updater */
#mailchimp-api-key-form {
  width: 300px;
  padding: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #BCBCBC;
  color: DimGrey;
  display: none;
}

#submit-api-key {
  display: none;
}

/* Styling for the group members display*/
#group-members {
  margin-top: 10px;
  border: 1px solid #BCBCBC;
  border-radius: 5px;
  padding: 10px;
}

/* Styling for the search form */
#group_search_form {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #BCBCBC;
  padding: 5px;
  margin: 10px 0 10px 0;
}

/* For styling the table that displays the available groups */

#group-management .groups-table {
  width: 100%;
  display: table;
  margin: 10px 0px 10px 0px;
  border-collapse: collapse;
}

#group-management .groups-table-headers {
  background-color: #2462AB;
  color: #FFFFFF;
  display: table-row;
}

#group-management .groups-table-title {
  display: table-cell;
  padding: 5px;
}

#group-management .group {
  display: table-row;
  border-top: 1px solid #BCBCBC;
}

#group-management .group-selected {
  width: 15%;
  display: table-cell;
  padding: 5px;
}

#group-management .group-name {
  width: 50%;
  display: table-cell;
  padding: 5px;
}

#group-management .group-size {
  width: 25%;
  display: table-cell;
  padding: 5px;
}

#group-management .group-emailable {
  width: 10%;
  display: table-cell;
  padding: 5px;
}
