/*
 *  Key Colour Definitions
 *  Business Chamber Colours
 *  Logo-blue:          #2462ab
 *  Logo-yellow:        #ffb200
 *  Theme Colours
 *  Background-signup:  #ffb200
 *  Border-colour:      #BCBCBC
 *  Font-color:         #6B6B6B
*/
body {
  margin: 0;
  padding: 0;
}

.pageHeader {
  background-color: #2462ab;
  width: 100%;
  height: 33%;
  border: 0;
  position: relative;
  margin: 0 auto;
}

.page {
  width: 100%;
  height: 66%;
  border: 0;
  margin: 0 auto;
  position: relative;
}

.signupBox {
  background-color: #ffb200;
}

.signinBox {
  border-color: #BCBCBC;
  width: 33%;
  height: 100%;
  border: 2px solid #BCBCBC;
  position: relative;
  top: -20%;
  background-color: #FFFFFF;
  margin: 0 auto;
}

.signInLabel {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5% 10%;
  color: #6B6B6B;
}

.signInInput {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #6B6B6B;
  margin: 2% 10%;
  width: 75%;
}


.signInButton {
  background: transparent;
  border: 1px solid #2462ab;
  font-family: Arial, Helvetica, sans-serif;
  color: #2462ab;
  margin: 10%;
}
