.side-menu {
  height: 100%;
  position: fixed;
  background-color: #2462AB;
  padding-bottom: 20px;
  width: 20%;
  max-width: 292px;
  overflow-y: auto;
  z-index: 999;
}

.side-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0px 10px 0px 10px;
  background-color: #2462AB;
}

.side-menu li:hover {
  background-color: #2F7AD3;
}

.side-menu a, .side-menu h1 {
  display: block;
  color: #FFFFFF;
  padding: 12px 15px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto Condensed";
}

@media (max-width: 720px) {
  #layout > .side-menu {
    display: none;
  }
}

@media (max-width: 720px) {
  .side-menu {
    width: 280px;
    position: relative;
  }
}

@media (min-width: 720px) {
  .small-side-menu {
    display: block;
  }
}

.admin-side-menu {
    height: 100%;
    position: fixed;
    background-color: gray;
    padding-bottom: 20px;
    width: 20%;
    max-width: 292px;
}

.admin-side-menu a {
  display: block;
  color: black;
  padding: 8px 10px;
  text-decoration: none;
}

#bottom-options {
  position: relative;
  bottom: 0px;
}

#menu-logo {
  width: 50%;
  margin-left: auto;
   margin-right: auto;
}

#menu-logo img {
margin-left: 8%;
  padding-top: 20px;
  max-width: 105px;
  width: 100%;
}

#menu-welcome {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#menu-welcome h1 {
text-align: center;
text-transform: uppercase;
  color: #FFFFFF;
  font-size: 120%;
}
