
.header-blue{
  background-color: #2462ab;
  height: 200px;
}

.logo {
  position:absolute;
  left:30px;
  top:50px;
  width:15%;
}

h1 {
  position:absolute;
right:20px;
top: 120px;
color: white;
}

.signup-fields {
    display: grid;
      grid-template-columns: 1fr 3fr;
      padding: 5px;

}
