@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
/*
 *  Key Colour Definitions
 *  Business Chamber Colours
 *  Logo-blue:          #2462ab
 *  Logo-yellow:        #ffb200
 *  Theme Colours
 *  Background-signup:  #f5f5f5
 *  Border-colour:      #BCBCBC
 *  Font-color:         #6B6B6B
*/
body {
  background-color: #F5F5F5;
}

html, body, .establish-fonts, #menu, #layout {
  height: 100%;
}

/* Overriding some boostrap colors for a custom color scheme.*/
.panel-primary .panel-heading{
  background-color: #2462AB;
  border-bottom: 1px solid #BCBCBC;
  border-top-left-radius: 10px;
}

.btn-primary {
  background-color: #2462AB;
}

.btn-primary:hover {
  background-color: #2F7AD3;
}

.establish-fonts {
    font-family: "Roboto Condensed";
}

.test {
  width:100%;
  background-color: red;
}

.notice {
  position: relative;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 10px;
  background-color: #FFFFFF;
  border: 1px solid #BCBCBC;
  border-radius: 10px;
  border-top-right-radius: 0px;
}

.notice-title {
  display: inline-block;
  width: 100%;
  margin: 0px;
  background-color: #2462AB;
  border-bottom: 1px solid #BCBCBC;
  border-top-left-radius: 10px;
  padding: 10px 20px;
}

.tmpnotice-title{
    background-color: #676d75 !important;
}

.notice-content {
  padding: 10px 20px;
}

.notificationDeleteBtn{
    float: right;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

.survey-content {
  padding: 5px 10px;
  margin-bottom: 40px;
  text-align: center;
}

#SurveyAnswers{
    margin-right: 30px;
    margin-left: 30px;
}

#btnSubmitSurvey{
    margin-top: 30px;
}

.notice h2 {
  font-size: 150%;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  color: #FFFFFF;
}

.active-route {
  font-weight: bold;
}

.slick-next:before{
    font-size: 26px;
    color: black;
}
.slick-prev:before{
    font-size: 26px;
    color: black;
}

.slick-next{
    right: 0%;
}

.slick-prev{
    z-index:100000;
    left: 0%;
}

.confirmation-button {
  margin: 10px 5px;
}
.btn {
  margin: 5px;
}

.main-component {
  float: left;
  margin-left: 22%;
  margin-right: 20%;
  margin-top: 15px;
  margin-bottom: 60px;
}

#notice-board {
  margin-left: 20%;
  margin-right: 5%;
  padding-top: 15px;
}


/* Overriding default displaying of textarea content below the textbox
see NoticeSurvey.js */
.text-input__content{
    display: none
}
.text-input{
    width: 85%;
    margin-left: 8%;
}
.text-input__control{
    min-height: 130px;
}

.eventDiv{
    margin-bottom: 5px;
}

.event-buttons{
    text-align: center;
    margin-bottom: 10px;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.CreateNoticeDiv {
    margin-bottom: 5px;
}

.CreateNoticeDiv input {
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.CreateNoticeDiv textarea {
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.CreateNoticeDiv .ReactTags__suggestions{
    z-index: 1;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2462AB;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2462AB;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#CreateNoticeEmail{
    text-align: right;
    padding-right: 10px;
    padding-top: 7px;
}

#CreateNoticeEmailSwitch{
    text-align: Left;
}

.surveyAddQuestions{
    margin-top: 15px;
}

.questionSwitch{
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
}
/*Sign up styling*/

#dropdown-btn-menu{
    background-color: #2462AB;
    border-color: #2462AB;
    color:white;
}

.w3-panel{
    margin-top: 0px;
}

.w3-blue, .w3-hover-blue:hover {
    color: #fff!important;
    background-color: #2462ab!important;
}

.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: #000!important;
    background-color: #f5f5f5!important;
}

#member-information .w3-light-grey, #member-information .w3-hover-light-grey:hover, #member-information .w3-light-gray {
  color: #000!important;
  background-color: #FFFFFF!important;
  margin-left: 0%;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

#signup-headings {
        margin-top: 3%;
        margin-left: 3%;
}

.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: DimGrey!important;
    background-color: white!important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-radius: 4px;
}



@media (min-width: 1200px) {
    .container {
        width: 99%;
    }
}

@media (min-width: 720px) {
  /* Used to allocate screenspace to the main component */
  .main-component {
    float: left;
    width: 75%;
    margin-left: 22%;
    margin-right: 3%;
  }
}

@media (max-width: 720px) {
  /* Used to allocate screenspace to the main component */
  .main-component {
    float: left;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
  }
  #notice-board{
      margin-left: 3%;
      margin-right: 3%;
  }
  .notice{
      margin-left: 3%;
      margin-right: 3%;
  }
}
.react-datepicker {
  font-size: 1.3rem !important;
}

.react-datepicker__current-month {
  font-size: 1.5rem !important;
}

.react-datepicker__header {
  padding-top: 6px !important;
}

.react-datepicker__navigation {
  top: 13px !important;
}

.react-datepicker__day-name, .react-datepicker__day {
  margin: 0.5rem !important;
  width: 1.9rem !important;
}

.react-datepicker-wrapper, .react-datepicker__input-container {
    width: 100%;
}

.emptyNotices {
    text-align: center;
    margin-top: 60px;
}

.circle{
      width: 20px;
      height: 20px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      float: right;
      margin-right: 10px;
 }

 .event-list-item {
   width: 100%;
   overflow: auto;
   border-bottom: 1px solid #BCBCBC;
   color: DimGrey!important;
 }

 .event-list-item .alert {
   margin-bottom: 0px;
   border-radius: 0px;
 }

 .evnet-list-item-field {
   border: none;
   float: left;
   padding: 5px;
   width: 20%;
 }
 .editNoticeTitle {
     background: #2462AB;
     width: 100%;
     border: none;
 }
 .editNoticeMessage {
     width: 100%;
     border: none;
 }
 .skylight-dialog {
     display: inline-table !important;
     top: 38% !important;
     left: 58% !important;
 }
 .transparent {
     background-color: transparent !important;
 }
