@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
/*
 *  Key Colour Definitions
 *  Business Chamber Colours
 *  Logo-blue:          #2462ab
 *  Logo-yellow:        #ffb200
 *  Theme Colours
 *  Background-signup:  #f5f5f5
 *  Border-colour:      #BCBCBC
 *  Font-color:         #6B6B6B
*/
body {
  background-color: #F5F5F5;
}

/* Overriding some boostrap colors for a custom color scheme.*/
.panel-primary .panel-heading{
  background-color: #2462AB;
  border-bottom: 1px solid #BCBCBC;
  border-top-left-radius: 10px;
}

.btn-primary {
  background-color: #2462AB;
}

.btn-primary:hover {
  background-color: #2F7AD3;
}

.establish-fonts {
    font-family: "Roboto Condensed";
}

.test {
  width:100%;
  background-color: red;
}



.notice {
  position: relative;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 10px;
  background-color: #FFFFFF;
  border: 1px solid #BCBCBC;
  border-radius: 10px;
  border-top-right-radius: 0px;
}

.notice-title {
  display: inline-block;
  width: 100%;
  margin: 0px;
  background-color: #2462AB;
  border-bottom: 1px solid #BCBCBC;
  border-top-left-radius: 10px;
  padding: 10px 20px;
}

.tmpnotice-title{
    background-color: #676d75 !important;
}

.notice-content {
  padding: 10px 20px;
}

.notificationDeleteBtn{
    float: right;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

.survey-content {
  padding: 5px 10px;
  margin-bottom: 40px;
  text-align: center;
}

#SurveyAnswers{
    margin-right: 30px;
    margin-left: 30px;
}

#btnSubmitSurvey{
    margin-top: 30px;
}

.notice h2 {
  font-size: 150%;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  color: #FFFFFF;
}

.active-route {
  font-weight: bold;
}

.slick-next:before{
    font-size: 26px;
    color: black;
}
.slick-prev:before{
    font-size: 26px;
    color: black;
}

.slick-next{
    right: 0%;
}

.slick-prev{
    z-index:100000;
    left: 0%;
}

#bottom-options {
  position: relative;
  bottom: 0px;
}

#menu-logo {
  width: 50%;
  margin-left: auto;
   margin-right: auto;
}

#menu-logo img {
margin-left: 8%;
  padding-top: 20px;
  max-width: 105px;
  width: 100%;
}

#menu-welcome {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#menu-welcome h1 {
text-align: center;
text-transform: uppercase;
  color: #FFFFFF;
  font-size: 120%;
}

.confirmation-button {
  margin: 10px 5px;
}
.btn {
  margin: 5px;
}

.main-component {
  float: left;
  margin-left: 22%;
  margin-right: 20%;
  margin-top: 15px;
}

#notice-board {
  margin-left: 20%;
  margin-right: 5%;
  padding-top: 15px;
}

/* Regarding the member list view available to executives*/

.confirmation-button {
  margin: 10px 5px;
}

#member-info-settings {
  background-color: #FFFFFF;
  border: 0px;
}

#member-info-settings .panel-body {
  background-color: #F5F5F5;
  border: 0px;
}

#member-info-settings ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 5px;
}

#member-info-settings ul li label input {
  margin-right: 10px;
  margin-left: 2px;
}

#member-info-settings input {
  margin-left: 0px;
}

#member-list {
  width: 100%;
  word-wrap: break-word;
}

#member-list-headers {
  width: 100%;
  background-color: #2462AB;
  overflow: auto;
}

#member-list .table-header {
  background-color: #2462AB;
  border: none;
  color: #FFFFFF;
  font-weight: bold;
  float: left;
  padding: 5px;
  width: 20%;
}

.member-list-item {
  width: 100%;
  overflow: auto;
  border-top: 1px solid #BCBCBC;
  color: DimGrey!important;
}

.member-list-item .alert {
  margin-bottom: 0px;
  border-radius: 0px;
}

.member-list-item-field {
  border: none;
  float: left;
  padding: 5px;
  width: 20%;
}

#member-list .member-details-block {
  background-color: #FFFFFF;
}

.member-details {
  width: 100%;
  min-height: 300px;
  float: none;
  display: inline-block;
  padding-top: 5px;
}

.member-details h4 {
  margin-left: 0%;
}

.member-details h5 {
  font-weight: bold;
}

.member-details-text {
  border-top: 1px solid #BCBCBC;
  padding-top: 10px;
}

.member-details-controls {
  padding: 0px 0px 20px 0px;
  display: inline-block;
  width: 100%;
}

.member-details-controls-buttons {
  width: 100%;
}

.member-details-groups {
  width: 100%;
  display: inline-block;
  margin: 10px 0px 20px 0px;
  border-top: 1px solid #BCBCBC;
  padding-top: 10px;
}

.notes-panel {
  border-top: 1px solid #BCBCBC;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.notes-panel textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #BCBCBC;
  border-radius: 5px;
  resize: none;
  padding: 5px;
}

.member-details input, .member-details a {
  margin-left: 0px;
}

.member-details-controls input, .member-details-controls a {
  margin-right: 10px;
  padding-top: 10px;
}

.complete-member-details {
  border-top: 1px solid #BCBCBC;
  width: 100%;
  display: table;
  margin-bottom: 20px;
  padding: 20px 0px 10px 0px;
}

.detail {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: grey;
  display: table-row;
}

.detail:nth-child(odd) {
  background-color: #FBFBFB;
}

.detail:nth-child(even) {
  background-color: #FFFFFF;
}

.detail .member-detail {
  padding: 0px 20px 0px 10px;
  background-color: inherit;
  word-wrap: break-word;
  display: table-cell;
  vertical-align: top;
}
.detail .member-detail-value {
  padding: 0px 0px 0px 10px;
  background-color: inherit;
  word-wrap: break-word;
  display: table-cell;
  vertical-align: top;
}

.note h5 {
  margin-left: 0%;
}

.ReactTags__tag {
  background-color: #5bc0de;
}

.ReactTags__tagInput {
  margin: 5px;
}

div.ReactTags__selected span.ReactTags__tag {
    background: #2462ab;
    color: #FFFFFF;
    border-radius: 5px;
    margin-left: 0px;
    margin-right: 10px;
}

/* Used to allocate screenspace to the main component */
.main-component {
  float: left;
  width: 75%;
  margin-left: 22%;
  margin-right: 3%;
}



/* The following is to style the edit sign up fields table */

.header-blue{
  background-color: #2462ab;
  height: 10%;
  width: 100%
}

#header-logo{
    width: 10%;
    padding: 3%;

}
#header-logo img{
    margin-left: 2000%;
    width: 400%;
}

#edit-fields-table {
    float: left;
    margin-left: 22%;
    margin-right: 20%;
    margin-top:2%;

}

#signup-checkbox {
    display: block;
    margin: auto;
}

#editsignup-value{
    text-align: center;
}

#addfield-button{
    width: 20%;
    background-color: #2462AB;
    color: white;
}
#asterisk{
    color: red;
}

.border-error{
    background-color: #FCC8C8;
}



#select-signup{
    padding: 30px;
    height: 30%;
}
/*
.signup-fields label{
    margin-left: 27%;
    display: grid;
     grid-template-columns: 1fr 3fr;
     padding: 10px;
     text-align: left;
}

.signup-fields input{
    max-width: 250px;
    min-width: 30%;
}

.signup-fields h1, h4{
    margin-left: 27%;
}*/

.signup label {
    color: #595959;
}

#length-button {
    max-width: 175px;
    min-width: 30%;
}

#addfields-label {

    margin-left: 22%;
    display: grid;
     grid-template-columns: 1fr 3fr;
     padding: 20px;
     text-align: left;
}

#submitform-button {

    margin-left: 27%;
    max-width: 175px;
    min-width: 30%;
}

/* The following is to style to admin page*/

#admin-menu{
    margin-left: 27%;
}


hr.admin-divider{
margin-left: 20%;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #BDC3C7, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #BDC3C7, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #BDC3C7, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #BDC3C7, #f0f0f0);

  }

  hr.signup-divider{
    border: 0;
    height: 1px;
    background-color: #f0f0f0;
    margin-left: 2%;
    margin-right: 2%;
    }
  hr.welcome-divider{
    margin-left: 7%;
    margin-right: 7%;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #BDC3C7, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #BDC3C7, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #BDC3C7, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #BDC3C7, #f0f0f0);

    }

  #chamberadmin-btn{
      width:20%;
  }

  #admin-dropdown{
      width: 37%;
  }

/* Overriding default displaying of textarea content below the textbox
see NoticeSurvey.js */
.text-input__content{
    display: none
}
.text-input{
    width: 85%;
    margin-left: 8%;
}
.text-input__control{
    min-height: 130px;
}

.eventDiv{
    margin-bottom: 5px;
}

.event-buttons{
    text-align: center;
    margin-bottom: 10px;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.CreateNoticeDiv {
    margin-bottom: 5px;
}

.CreateNoticeDiv input {
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.CreateNoticeDiv textarea {
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.CreateNoticeDiv .ReactTags__suggestions{
    z-index: 1;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2462AB;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2462AB;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#CreateNoticeEmail{
    text-align: right;
    padding-right: 10px;
    padding-top: 7px;
}

#CreateNoticeEmailSwitch{
    text-align: Left;
}

.surveyAddQuestions{
    margin-top: 15px;
}

.questionSwitch{
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
}
/*Sign up styling*/

#dropdown-btn-menu{
    background-color: #2462AB;
    border-color: #2462AB;
    color:white;
}

.signup-dropdown{
    margin-left: 1.5%;
    margin-top: 0%;
}
.form-horizontal .form-group {
    padding: 3%;
}

#signup-logo img{
margin-left: 85%;
width: 15%;
margin-top: 2%;
margin-bottom: 2%;
}

.w3-panel{
    margin-top: 0px;
}

.w3-blue, .w3-hover-blue:hover {
    color: #fff!important;
    background-color: #2462ab!important;
}

.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: #000!important;
    background-color: #f5f5f5!important;
}

#member-information .w3-light-grey, #member-information .w3-hover-light-grey:hover, #member-information .w3-light-gray {
  color: #000!important;
  background-color: #FFFFFF!important;
  margin-left: 0%;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

#signup-headings {
        margin-top: 3%;
        margin-left: 3%;
}

.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: DimGrey!important;
    background-color: white!important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-radius: 4px;
}

#signup-headings {
    font-size: xx-large;
    margin-bottom: 5%;
}


#edit-signup{
  float: left;
  margin-left: 22%;
  width: 75%;
  margin-right: 20%;
  margin-right: 3%;
  margin-top: 3%;
}


@media (min-width: 1200px) {
    .container {
        width: 99%;
    }
}

#h2-editsignup{
  padding-top: 1%;
  padding-left: 2%;
}

#h3-editsignup{
  padding-left: 2%;
}

.edit-signup-input input[type=text], input[type=number]{
    width: 100%;
}

.edit-signup-input input[type=checkbox]{
    display: block;
    margin: auto;
}
#dropdown-btn {
    width: 100%;
}
#columnWidth{
    width:10%;
}
#edit-btn{
    display: flex;
}

@media (min-width: 992px) {
    #edit-signup .container {
        width: 100%;
    }
}

@media (min-width: 768px) {
    #edit-signup .container {
        width: 100%;
    }
}

@media (max-width: 720px) {
    #edit-signup {
        margin-left: 3%;
        margin-right: 3%;
        width: 100%;
    }
}

.open>.dropdown-menu {
    margin-left: 20%;
}

#signup-container{
    margin-left: 10%;
    margin-right: 10%;
}
#signup-submitbtn{
    margin-left: 47%;
}

.signup-fields2 ol, ul {
    list-style-type: none;
}

.signup-fields2 label {
    display: grid;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.react-datepicker {
  font-size: 1.3rem !important;
}

.react-datepicker__current-month {
  font-size: 1.5rem !important;
}

.react-datepicker__header {
  padding-top: 6px !important;
}

.react-datepicker__navigation {
  top: 13px !important;
}

.react-datepicker__day-name, .react-datepicker__day {
  margin: 0.5rem !important;
  width: 1.9rem !important;
}

.react-datepicker-wrapper, .react-datepicker__input-container {
    width: 100%;
}

#member-info-settings .search {
  min-width: 200px;
  width: 100%;
  border: 1px solid #BCBCBC;
  box-shadow: none;
  border-radius: 4px;
  padding: 5px;
}

.emptyNotices {
    text-align: center;
    margin-top: 60px;
}
