/*
 *  Key Colour Definitions
 *  Business Chamber Colours
 *  Logo-blue:          #2462ab
 *  Logo-yellow:        #ffb200
 *  Theme Colours
 *  Background-signup:  #f5f5f5
 *  Border-colour:      #BCBCBC
 *  Font-color:         #6B6B6B
*/
body {
  background-color: #F5F5F5;
}

.test {
  width:100%;
  background-color: red;
}


.signup-fields label, .signup-fields input {
    float: none; /* if you had floats before? otherwise inline-block will behave differently */
    display: inline-block;
    vertical-align: middle;
}

.side-menu {
  height: 100%;
  position: fixed;
  background-color: #2462AB;
  padding-bottom: 20px;
  width: 20%;
}

.side-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0px 10px 0px 10px;
  background-color: #2462AB;
}

.side-menu li:hover {
  background-color: #2F7AD3;
}

.side-menu a {
  display: block;
  color: #FFFFFF;
  padding: 8px 10px;
  text-decoration: none;
}

.notice {
  position: relative;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #FFFFFF;
  border: 1px solid #BCBCBC;
  border-radius: 10px;
  border-top-right-radius: 0px;
}

.notice-title {
  margin: 0px;
  background-color: #2462AB;
  border-bottom: 1px solid #BCBCBC;
  border-top-left-radius: 10px;
  padding: 5px 10px;
}

.notice-content {
  padding: 5px 10px;
}

.survey-content {
  padding: 5px 10px;
  margin-bottom: 40px;
  text-align: center;
}

#SurveyAnswers{
    margin-right: 30px;
    margin-left: 30px;
}

#btnSubmitSurvey{
    margin-top: 30px;
}

.notice h2 {
  font-size: 150%;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  color: #FFFFFF;
}

.active-route {
  font-weight: bold;
}

.slick-next:before{
    color: black;
}
.slick-prev:before{
    color: black;
}

.slick-next{
    right: 0%;
}

.slick-prev{
    z-index:100000;
    left: 0%;
}

#bottom-options {
  position: relative;
  bottom: 0px;
}

#menu-logo {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

#menu-logo img {
  padding-top: 20px;
  max-width: 105px;
  width: 100%;
}

#menu-welcome {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid #BCBCBC;
}

#menu-welcome h1 {
  color: #FFFFFF;
  font-size: 150%;
}

/* The following is to style the chamber member list table*/

.rounded-table {
  border: none;
}

.rounded-table th, .rounded-table td {
  padding: 1px 5px;
}

.rounded-table thead th {
  background-color: #2462AB;
  border: none;
  color: #FFFFFF;
  font-weight: bold;
}

.rounded-table thead th:first-child {
  border-radius: 10px 0 0 0;
}

.rounded-table tbody td {
  border: none;
  border-top: 1px solid #BCBCBC;
}

.rounded-table tbody tr:nth-child(odd) {
  background-color: #E5E5E5;
}

.rounded-table tbody tr:nth-child(even) {
  background-color: #F5F5F5;
}

.rounded-table td {
  background-color: inherit;
}

.member-first-name, .member-last-name {
  max-width: 100px;
  min-width: 10%;
}

.member-email {
  max-width: 200px;
  min-width: 20%;
}

.member-business-name {
  max-width: 300px;
  min-width: 30%;
}

.member-expiry {
  max-width: 200px;
  min-width: 20%;
}

.rounded-table .expiry-alert {
  background-color: #DCA7A7;
}

#member-group-control ul li{
  list-style: none;
}

.confirmation-button {
  margin: 10px 5px;
}
.btn {
  margin: 5px;
}

.member-control-panel {
  margin-top: 10px;
  border-top-left-radius: 10px;
}

.member-control-panel ul, .member-control-panel .search {
  display: inline-block;
}
.member-control-panel ul {
  margin-top: 10px;
}

.member-control-panel .search {
  float: right;
  margin: 7px;
}

.member-control-panel .search input {
  border-radius: 4px;
  border: 1px solid #BCBCBC;
}

.main-component {
  float: left;
  margin-left: 22%;
  margin-right: 20%;
}

#notice-board {
  margin-left: 20%;
  margin-right: 5%;
  padding-top: 15px;
}

/* The following is to style the chamber member list table*/

.rounded-table {
  border: none;
}

.rounded-table th, .rounded-table td {
  padding: 1px 5px;
}

.rounded-table thead th {
  background-color: #2462AB;
  border: none;
  color: #FFFFFF;
  font-weight: bold;
}

.rounded-table thead th:first-child {
  border-radius: 10px 0 0 0;
}

.rounded-table tbody td {
  border: none;
  border-top: 1px solid #BCBCBC;
}

.rounded-table tbody tr:nth-child(odd) {
  background-color: #E5E5E5;
}

.rounded-table tbody tr:nth-child(even) {
  background-color: #F5F5F5;
}

.rounded-table td {
  background-color: inherit;
}

.member-first-name, .member-last-name {
  max-width: 100px;
  min-width: 10%;
}

.member-email {
  max-width: 200px;
  min-width: 20%;
}

.member-business-name {
  max-width: 300px;
  min-width: 30%;
}

.member-expiry {
  max-width: 200px;
  min-width: 20%;
}

.rounded-table .expiry-alert {
  background-color: #DCA7A7;
}

.confirmation-button {
  margin: 10px 5px;
}

#member-control-panel {
  background-color: #FFFFFF;
  border: 1px solid #BCBCBC;
  border-radius: 10px;
  border-top-right-radius: 0;
  margin: 10px 0px

}

#member-control-panel ul, #member-control-panel .search {
  display: inline-block;
}
#member-control-panel ul {
  margin-top: 10px;
}

#member-control-panel .search {
  float: right;
  margin: 7px;
}

#member-control-panel .search input {
  border-radius: 4px;
  border: 1px solid #BCBCBC;
}

/* Regarding the member list view available to executives*/
#member-list {
  width: 100%;
  word-wrap: break-word;
}

#member-list-headers {
  width: 100%;
  background-color: #2462AB;
  overflow: auto;
}

#member-list .table-header {
  background-color: #2462AB;
  border: none;
  color: #FFFFFF;
  font-weight: bold;
  float: left;
  padding: 10px;
  width: 20%;
}

.member-list-item {
  width: 100%;
  overflow: auto;
}

.member-list-item-field {
  border: none;
  float: left;
  padding: 10px;
  width: 20%;
}

#member-list .member-list-item:nth-child(odd) {
  background-color: #E5E5E5;
}

#member-list .member-list-item:nth-child(even) {
  background-color: #F5F5F5;
}

.member-details {
  width: 100%;
  min-height: 300px;
  float: none;
  padding: 10px;
  display: inline-block;
}

.member-details-right {
  width: 66%;
  float: left;
}

.member-details-left {
  width: 33%;
  float: left;
  padding: 10px;
}

.member-details-left img {
  width: 50%;
  margin-left: 5%;
  margin-right: 25%;
}

.member-details-groups {
  width: 100%;
  display: inline-block;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  border-left: 1px solid #BCBCBC;
  border-right: 1px solid #BCBCBC;
}

.member-details-complete-block {
  float: left;
  padding: 5px;
  margin: 10px;
}

.ReactTags__tag {
  background-color: #5bc0de;
}

div.ReactTags__selected span.ReactTags__tag {
    background: #2462ab;
    color: #FFFFFF;
    border-radius: 5px;
}

/* Used to allocate screenspace to the main component */
.main-component {
  float: left;
  width: 75%;
  margin-left: 22%;
  margin-right: 3%;
}

@media (max-width: 720px) {
  .side-menu {
    display: none;
  }
}

@media (min-width: 720px) {
  .small-side-menu {
    display: block;
  }
}

/* Overriding some boostrap colors for a custom color scheme.*/
.panel-primary .panel-heading{
  background-color: #2462AB;
  border-bottom: 1px solid #BCBCBC;
  border-top-left-radius: 10px;
}
